VITE_SUPABASE_URL=https://iklhvnldiryqxfdmwciv.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_LzD25ieyJ-2i2zu78ZRLpw_ToyKBmO4
VITE_OPENAI_API_KEY=sk-proj-your-openai-api-key-here
VITE_OPENAI_BASE_URL=https://api.openai.com/v1
